/*GENERAL*/

body {
    
    font-family: Arial;
    margin: 0px;
    background-color: white;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
    color: blue;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: blue;
}

h3,
h4 {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
    color: blue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*HEADER*/

header {
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    background: lightgray;
}

#logo {
    text-align: center;
}

/*NAVBAR*/

nav {
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 15px 10px;
}

p {
    margin: 0 10px;
    padding: 15px 10px;
    
}

/*FOOTER*/

footer {
    text-align: center;
    font-size: 1em;
    color: blue;
    padding: 50px 0 0 0;
    clear: both;
}

/*HOME PAGE*/

#photos {
    margin: 0;
    padding: 0;
}

#photos li {
    border: none;
    list-style: none;
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgray;
}

#photos li p {
    margin: 0;
    padding: 15%;
    font-size: 1em;
    text-align: center;
    color: blue;
}

/*
COOKING HACKS PAGE
#myBtn {
    display: none;
    position: fixed;
    bottom:  20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: yellow;
}
*/

/*LINKS STYLING*/

nav a:visited {
    color: blue;
}

nav a:hover,
nav a.selected {
    color:  red;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 480px) {
    
    #photos li {
        width: 15%;
    }
    
    #photos li-nth-child(4n) {
        clear: left;
}

@media screen and (min-width: 660px){

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    
    h1 {
        font-size: 2.5em;
        margin-bottom: 1px;
    }
    
    nav {
        background: none;
        float: right;
        font-size:  1.25em;
        text-align: right;
        width: 45%;
        margin: 40px 0 0;
    }
    
    header {
        border-bottom: 5px;
        margin-bottom: 60px;
    }
    
}
