/*GENERAL*/
body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
    font-weight: 700;
    color: blue;
}

h2 {
    font-size: 0.75em;
    margin: -5 0 0;
    color: blue;
}

h4 {
    margin: 0 0 1em 0;
    color: blue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding:  20px;
    font-family: Arial;
}

.main {
    max-width:  1000px;
    margin:  auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: white;
    padding: 10px;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}