/*GENERAL*/

body {
    
    font-family: Arial;
    margin: 0px;
/*    padding: 20%;*/
    background-image(.cookbook);
}

* {
    box-sizing: border-box;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: blue;
    word-break: break-all;
}

#nav a {
    text-align: center;
}

.cookbook {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: -5 0 0;
    color: blue;
}

p {
    text-align: center;
    color: red;
}

h4 {
    margin: 0 0 1em 0;
    text-align: center;
    color: #ffff00;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: blue;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.main {
    max-width:  50px;
    margin:  auto;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: red;
    padding: 1px
}

/*MEDIA QUERIES*/
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}